@using CognitiveDecisionSystem.Models
@model CognitiveDecisionSystem.Models.RegularUser

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <title>@ViewBag.Title</title>
    <!-- Stylesheet Import -->

    <link href="../Content/CSS/icons/icon.min.css" rel="stylesheet" />
    <link href="../Content/CSS/icons/ionicons.min.css" rel="stylesheet" />
    <link href="../Content/CSS/slidemenu.css?version=1" rel="stylesheet" />
    <link href="../Content/CSS/jquery.dynatable.css?version=3" rel="stylesheet" />
    <!--  <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/dynatable-docs.css" />-->
    <link href="../Content/CSS/boostrap/bootstrap.min.css?version=5" rel="stylesheet" />
    <link href="../Content/CSS/facepLate_stylesheet.css?version=7" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="../Scripts/js/bootstrap.min.js"></script>
    <script src="../Scripts/js/jquery.dynatable.js"></script>
    <script src="../Scripts/js/slidemenu.js"></script>

  
</head>
<body>
   
    <form id="form1" >
        <div id="wrapper" class="o-wrapper">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="navbar-brand navbar-left">

                            <li> <span id="selectAsset" class="active"><i class="ion-chevron-right"></i>&nbsp;&nbsp;&nbsp;Select Asset</span></li>
                            
                        </ul>
                        <ul class="nav navbar-nav navbar-brand navbar-center">

                        </ul>

                       

                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>
            <div id="body">
                <div class="container-fluid">
                    <a href="@Url.Action("YourDashboard", "RegularUser")" style="font-weight: bold; font-size: 20px;  text-decoration: underline;"><span class="glyphicon glyphicon-arrow-left"></span> Go Back</a>
                    <section class="content-wrapper main-content clear-fix" style="margin-top: 20px;">
                        @RenderBody()
                    </section>
                </div>
            </div>


            <!-- /c-mask -->
            <div id="footer">
                
            </div>
        </div>
        <!-- Selection of Asset on the Left -->

        <div id="c-menu--push-left" class="c-menu c-menu--push-left ">
            <nav id="test" class="navbar navbar-default ">
                <div class="container-fluid">
                    <ul class="navbar-brand">
                        <li>RI Priority</li>
                    </ul>

                </div>
            </nav>
            <div id="DivPriorityTable" class="container-fluid">
                <table id="PriorityTableSlider" class="table table-hover" border="0">
                    <thead>
                        <th style="width:90px;">Stock Code</th>
                        <th>Item Name</th>
                        <th style="width:90px;">Action Codes</th>
                        <th style="width:70px;">Criticality </th>
                        <th style="width:70px;">Demand</th>
                        <th>Action</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div id="c-mask" class="c-mask"></div>
    </form>

    <script src="../Scripts/js/master/site-master.js"></script>  
</body>
</html>
