@{
    ViewBag.Title = "Error";
}
<script>setTimeout(function () { setTimeout(history.back()) }, 5000);</script>
<h1 style="text-align: center;">Error. You must login to view this page</h1>
<p style="text-align: center;">You will be redireced automatically. If not, just click this <a href="@Url.Action(" Login", "RegularUser" )">link</a> </p>
